<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <div id="app">
    <ul>
      <li v-for="(obj,index) in list">
        dd: {{obj.path}} <input type="button" value="编辑" @click="editItem">
      </li>
    </ul>

    <div>
      <input type="text" v-model="item.path">
      <input type="text" v-model="item.desc">
      <input type="button" value="增加/修改" @click="changItem(item)">
    </div>
  </div>
  <script src="./index.js"></script>
</body>
</html>